*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background: url(./img/bg/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
header{
    background: url(./img/bg/1.webp);
}
.banner{
    background: url(./img/bg/1.jpg);
    width: 100%;
}
.main-content .banner .link .box{
    animation: wiggle 2.5s linear infinite;
}
@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-10deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(10deg);
    }

    35% {
        transform: rotateZ(-10deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .main-content{
        width: 100% !important;
    }
    header .main-box{
        width: 100%;
        padding: 5px !important;
    }
    header .main-box .open-menu{
        display: block;
    }
    header .main-box nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        background-color: #fff;
        z-index: 100;
        transition: all 0.2s;
        overflow-x: hidden;
    }
    header .main-box nav .close-menu{
        display: block;
    }
    header .main-box nav ul li{
        width: 100%;
    }
    header .main-box nav ul li a{
        color: #000000;
    }

    .banner{
        width: 100% !important;
        padding: 5px !important;
    }
    .banner h1{
        padding: 10px 0px;
        font-size: 25px;
    }
    .banner p{
        font-size: 17px;
        text-align: center;
        padding: 0px;
    }
    .banner .link{
        width: 100%;
        margin: 5px 0px !important;
        display: inline-block;
    }
    .banner .link .box{
        width: 50%;
        float: left;
    }
    .blog{
        width: 100%;
        padding: 5px !important;
    }
    .blog .main-box-1{
        width: 100% !important;
        padding: 0px !important;
    }
    .blog .main-box-1 .title,
    .blog .main-box-1 .images{
        width: 100%;
    }
    .blog .main-box-1 .title h1,
    .blog .main-box-1 .title h2{
        font-size: 15px !important;
    }
    .blog .main-box-2{
        width: 100% !important;
    }
    .blog .main-box-2 h1{
        font-size: 18px !important;
        padding: 0px !important;
        text-align: center;
    }
    .blog .main-box-2 p{
        font-size: 14px !important;
        padding: 0px !important;
        text-align: center;
    }
    .blog .main-box-2 .main-box{
        display: inline-block;
        width: 100%;
    }
    .blog .main-box-2 .main-box .col-span-4{
        width: 50%;
        float: left;
    }
    .blog .main-box-2 .main-box .col-span-4 .box{
        padding: 5px !important;
    }
    .blog .main-box-2 .main-box .col-span-4 .box .des h1{
        font-size: 14px !important;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .main-content{
        width: 100% !important;
    }
    header .main-box{
        width: 100%;
        padding: 5px !important;
    }
    header .main-box .open-menu{
        display: block;
    }
    header .main-box nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        background-color: #fff;
        z-index: 100;
        transition: all 0.2s;
        overflow-x: hidden;
    }
    header .main-box nav .close-menu{
        display: block;
    }
    header .main-box nav ul li{
        width: 100%;
    }
    header .main-box nav ul li a{
        color: #000000;
    }

    .banner{
        width: 100% !important;
        padding: 5px !important;
    }
    .banner h1{
        padding: 10px 0px;
        font-size: 25px;
    }
    .banner p{
        font-size: 17px;
        text-align: center;
        padding: 0px;
    }
    .banner .link{
        width: 100%;
        margin: 5px 0px !important;
        display: inline-block;
    }
    .banner .link .box{
        width: 50%;
        float: left;
    }
    .banner .link .box img{
        width: 80%;
        margin: auto;
    }
    .blog{
        width: 100%;
        padding: 5px !important;
    }
    .blog .main-box-1{
        width: 100% !important;
        padding: 0px !important;
    }
    .blog .main-box-1 .title,
    .blog .main-box-1 .images{
        width: 100%;
    }
    .blog .main-box-1 .title h1,
    .blog .main-box-1 .title h2{
        font-size: 15px !important;
    }
    .blog .main-box-2{
        width: 100% !important;
    }
    .blog .main-box-2 h1{
        font-size: 18px !important;
        padding: 0px !important;
        text-align: center;
    }
    .blog .main-box-2 p{
        font-size: 14px !important;
        padding: 0px !important;
        text-align: center;
    }
    .blog .main-box-2 .main-box{
        display: inline-block;
        width: 100%;
    }
    .blog .main-box-2 .main-box .col-span-4{
        width: 33.3%;
        float: left;
    }
    .blog .main-box-2 .main-box .col-span-4 .box{
        padding: 5px !important;
    }
    .blog .main-box-2 .main-box .col-span-4 .box .des h1{
        font-size: 14px !important;
    }
}